body {
    background-image: url("../../testAssets/342303.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.startingPageContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainWidgetsContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    width: 30vw;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

.mainWidgets {
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-weight: bold;
    font-size: large;
    flex: 1;
    margin-bottom: 1%;
}