.toDoGlance {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.toDoContainer {
    height: 20vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.toDoEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: solid 1px black; */
    margin: 2% auto;
}

.plusIconContainer {
    width: 5%;
    height: auto;
}

.plusIcon {
    height: auto;
    width: 100%;
    cursor: pointer;
}

.closeIconContainer {
    width: 5%;
    height: auto;
}

.closeIcon {
    height: auto;
    width: 100%;
    cursor: pointer;
}

.toDoIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1%;
}

.todoIcon {
    width: 1em;
    cursor: pointer;
    margin-right: .5vw;
}

.toDoTitle {
    width: 100%;
}

.toDoForm {
    display: flex;
    flex-direction: column;
}

.toDoLabel {
    display: flex;
    flex-direction: column;
}

.toDoInput {
    padding: 5px;
    border-radius: .5em;
    border: none;
    margin: 3% 0;
    height: 2.5em;
}

.toDoHeader {
    align-self: flex-start;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.toDoSubmit {
    border-radius: .5em;
    height: 2.5em;
    width: 40%;
    border: none;
    box-shadow: 3px 3px 3px #22222299;
    align-self: flex-end;
    cursor: pointer;
}

.todoListIcon {
    width: 1.5vw;
    margin-right: .5vw;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}