#menuTray {
    height: 100vh;
    background-color: #22222299;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: width 1s;
}

.menuBtn {
    margin: auto;
    cursor: pointer;
    height: 5%;
    width: auto;
    transition: transform 1s;
}